<style>
  
    body {
      height: 100%;
  }
  
  html {
   position: relative;
   min-height: 100%;
  }
  
  .container {
    padding-top: 0%;
   max-width: 1600px;
  }
  
  .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 3.5rem;
   line-height: 3.5rem;
   background-color: #f5f5f5;
  }

  .mat-toolbar.mat-primary {
    background: #343837;
    color: rgb(255, 255, 255);
}
  </style>
  
  <!doctype html>
  <html lang="ru">
   <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
   <title>Placebo</title>
   <meta name="description" content="Сайт о психологии с автогенерированными текстами">
   <meta name="keywords" content="психология, яндекс, весна, рефераты">
   <meta name="author" content="shwan">
   
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> 
  </head>
   <body>
    <p>
      <mat-toolbar color="primary" style="height: 50px; font-size: 18px; ">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon style="font-size: 15px;">menu</mat-icon>
        </button>
        <span>Placebo</span>
        <span style="margin-left: 20px;">Про нас</span>
        <span style="margin-left: 20px; margin-right: 20px;"><a routerLink="/drugs" routerLinkActive="active" style="color: white;">Ліки</a></span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon style="font-size: 15px;">favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon style="font-size: 15px;">share</mat-icon>
        </button>
      </mat-toolbar>
    </p>
    
   <main role="main">
   <div class="jumbotron" style="margin-top:0%">
   <div class="container">
   <h1 class="display-3">Всі ліки з тисячі аптек на одному сайті</h1>
   <p>
    Placebo існує для того аби надавати людям інформацію про ліки та їх наявність у аптеках.
   </p>
   <p>
   <a routerLink="/drugs" routerLinkActive="active"><button mat-flat-button color="primary">Знайти ліки</button></a>
   </p>
   </div>
   </div>
  
  
  
   <div class="container">
   <div class="row">
   <div class="col-md-12" style="margin-top: 20px;">
     <h1>Оцініть переваги нашого проекту</h1>
   </div>
   <div class="col-md-6" style="margin-top: 40px;">
   <h2>Простота функціоналу</h2>
   <p>На відміну від інших сервісів для пошуку ліків, Placebo дуже простий і зручний у використанні. Наш сервіс відповідає високим технологічним стандартам, однак Ви не побачите тут складних операційних комбінацій. Застосування сучасних інноваційних методик дозволяє зробити процесс пошуку ліків та інформацію про них максимально простим і доступним.</p>
   
   </div>
   <div class="col-md-6" style="margin-top: 40px;">
    <h2>Призначення системи</h2>
    <p>Даний програмний продукт надає користувачам можливості для пошуку ліків в аптеках міста. Для користувачів збирається інформація про ціни та наявність у різних аптеках на ті лікарські засоби які їх цікавлять.</p>
    </div>
    <div class="col-md-6">
      <h2>Інноваційні технології</h2>
      <p>Важливою перевагою нашого проекту є те, що пошук ліків здійснюється з відкритих джерел. На відміну від інших існуючих сервісів, наш оновлює базу лікарських засобів автоматично за допомогою веб-скрапера, який шукає інформацію на декількох веб-ресурсах. В порівнянні з іншими сервісами, наш має відкрите API (Application Programming Interface), за допомогою якого можна додати пошук за ліками, їх вартістю, наявністю в магазинах, протипокази та інше для інших розробників.</p>
     
      </div>
      <div class="col-md-6">
        <h2>Ефект від вровадження</h2>
        <p>Ефектом від впровадження системи буде наявність на ринку конкурентно спроможного сервісу для пошуку ліків в Україні, а саме в Києві. Сторонні розробники будуть мати можливість створити програмні продукти розширюючи наявну функціональність завдяки відкритому API</p>
        
        </div>
   </div>
   </div>
   </main>
   <!-- Footer -->
  <footer class="page-footer font-small blue">
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a> Placebo.ua</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
   </body>
   
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </html>
  
  <router-outlet></router-outlet>