<main role="main">
  <div class="jumbotron" style="margin-top:0%">
    <div class="container">
      <h1 class="display-3" style="font-size: 25pt;">Всі ліки з тисячі аптек на одному сайті</h1>
      <p>
        Placebo існує для того аби надавати людям інформацію про ліки та їх наявність у аптеках.
      </p>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top: 20px;">
        <h1>Оцініть переваги нашого проекту</h1>
      </div>
      <div class="col-md-6" style="margin-top: 40px;">
        <h2>Простота функціоналу</h2>
        <p>На відміну від інших сервісів для пошуку ліків, Placebo дуже простий і зручний у використанні. Наш сервіс
          відповідає високим технологічним стандартам, однак Ви не побачите тут складних операційних комбінацій.
          Застосування сучасних інноваційних методик дозволяє зробити процесс пошуку ліків та інформацію про них
          максимально простим і доступним.</p>

      </div>
      <div class="col-md-6" style="margin-top: 40px;">
        <h2>Призначення системи</h2>
        <p>Даний програмний продукт надає користувачам можливості для пошуку ліків в аптеках міста. Для користувачів
          збирається інформація про ціни та наявність у різних аптеках на ті лікарські засоби які їх цікавлять.</p>
      </div>
      <div class="col-md-6">
        <h2>Інноваційні технології</h2>
        <p>Важливою перевагою нашого проекту є те, що пошук ліків здійснюється з відкритих джерел. На відміну від інших
          існуючих сервісів, наш оновлює базу лікарських засобів автоматично за допомогою веб-скрапера, який шукає
          інформацію на декількох веб-ресурсах. В порівнянні з іншими сервісами, наш має відкрите API (Application
          Programming Interface), за допомогою якого можна додати пошук за ліками, їх вартістю, наявністю в магазинах,
          протипокази та інше для інших розробників.</p>

      </div>
      <div class="col-md-6">
        <h2>Ефект від вровадження</h2>
        <p>Ефектом від впровадження системи буде наявність на ринку конкурентно спроможного сервісу для пошуку ліків в
          Україні, а саме в Києві. Сторонні розробники будуть мати можливість створити програмні продукти розширюючи
          наявну функціональність завдяки відкритому API</p>

      </div>
    </div>
  </div>
</main>

